<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-3.dtd">
<html>

    <head>
        <title>Spring Session using Pivotal Cloud Cache</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" type="application/javascript"></script>

        <script type="application/javascript">
          
        </script>
    </head>

    <body>
        <h1>Spring Session Test</h1>
    </body>

</html>